.title {
	font-family: 'Atma', cursive;
	font-weight: 400;
	color: #ffff;
	line-height: 1;

	&-fz55 {
		font-size: 55px;
	}

	&-fz70 {
		font-size: 70px;
	}

	&-fz90 {
		font-size: 90px;
	}


}




.title-a {
	font-family: 'Archivo', sans-serif;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	&-fz21 {
		font-size: 21px;
		font-weight: 400;
	}


	&-fz25 {
		font-size: 25px;
	}

	&-fz34 {
		font-size: 34px;
		font-weight: 400;
		color: $main-color;
	}

	&-fz36 {
		font-size: 36px;
		text-align: center;
		color: $main-color;
	}

	&-fz38 {
		font-size: 38px;
		text-align: right;
		color: $main-color;
	}

	&-fz48 {
		font-size: 48px;
		text-align: right;

	}

	&-fz50 {
		font-size: 50px;
		color: $main-color;
		font-weight: 300;
	}

	&-fz53 {
		font-size: 53px;
		text-align: right;
		font-weight: 400;

		span {
			color: $main-color;
		}
	}

	&-fz55 {
		font-size: 55px;
		font-weight: 400;

		span {
			color: $main-color;
		}

		a {
			font-family: 'Atma', cursive;
			font-weight: 400;
			color: #ffff;

		}
	}

	&-fz122 {
		font-size: 122px;
		color: $main-color;
		line-height: 1;
	}




}

.title-o {
	font-family: 'Overpass', sans-serif;
	line-height: 1.2;
	font-weight: 300;
	color: #ffffff;

	&-fz21 {
		font-size: 21px;
		line-height: 1.5;
	}

	&-fz25 {
		font-size: 25px;
		line-height: 1.5;
	}

	&-fz27 {
		font-size: 27px;
		text-transform: uppercase;
		color: $main-color;
		line-height: 2;
	}

	&-fz28 {
		font-size: 28px;
		line-height: 1.5;
	}

	&-fz29 {
		font-size: 29px;
		line-height: 1.2;
	}

	&-fz30 {
		font-size: 30px;
		font-weight: 200;
	}





	&-fz33 {
		font-size: 33px;
		line-height: 1.1;

		span {
			color: $main-color;
		}

		&-up {
			text-transform: uppercase;
			color: black;
			line-height: 2;
		}
	}


	&-fz38 {
		font-size: 38px;
		line-height: 1.7;
		font-weight: 200;
	}

	&-fz40 {
		font-size: 40px;
		line-height: 1;
		text-transform: uppercase;

	}

	&-fz42 {
		font-size: 42px;
		line-height: 1.7;
		font-weight: 400;
		text-transform: uppercase;
		color: $main-color;
	}


	&-fz55 {
		font-size: 55px;
		letter-spacing: 0.02em;
		line-height: 0.8;
		text-transform: uppercase;

	}


	&-fz68 {
		font-size: 68px;
		letter-spacing: 0.02em;
		line-height: 0.8;
		text-transform: uppercase;

	}



	&-fz80 {
		font-size: 80px;
		letter-spacing: 0.1em;
		color: $main-color;
	}

}